body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

a, p, button {
    text-decoration: none;
    font-size: 16px;
    color: #F9FAF8;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.card-text {
    color: #1F2937;
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
     background-color: #1F2937;
     padding: 15px 450px 100px 450px;
     display: flex;
     flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    display: flex; 
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    max-width: 300px;
}

button {
    width: fit-content;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    background-color: #3882F6;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}



.img {
    background-color: grey;
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-img {
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 15px;
    
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    padding: 80px;
    margin-top: 75px;
    justify-content: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter
    max-width: 720px;
    display: flex;
    flex: wrap;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #1F2937;
}
